<!-- app/views/submissions/\_posted\_by.html.erb -->
<%# TODO: Add User Profile Link/Paths %>
<p class="text-gray-700 font-normal text-sm inline-block">Posted by <%= link_to "u/#{submission.user.username}", "#", class:"no-underline text-gray-700 font-normal hover:text-gray-700 hover:underline" %> <%= time_ago_in_words(submission.created_at) %> ago</p>