<!-- app/views/submissions/_voting.html.erb -->
<%= link_to "#", class: "block text-center" do %>
  <%= render_svg "icons/up-vote", title: "upvote", styles: "fill-current text-gray-600 hover:text-gray-500" %>
<% end %>

<span class="text-gray-700 text-center block -mt-1">132</span>

<%= link_to "#", class: "block text-center" do %>
  <%= render_svg "icons/down-vote", title: "downvote", styles: "fill-current text-gray-600 hover:text-gray-500" %>
<% end %>